<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs", {titulo: "Pear, sitio de compra y venda de NFT", cssSheet: "index"}) %>
<body>  
    <%- include("./partials/header.ejs") %>
    <main class="mainReport">
        <div class="cuatroCuadros2">
            <div class="sumatoria">
                <h2>Ingresos: <%=ingreso.ingresoPorFechaObj%></h2>
                <h2>Egresos: - <%=ingreso.egresoPorFechaObj%></h2>
            </div>
            <div class="sumatoriaNeta">
                <h2>Neto: <%=ingreso.netoPorFechaObj%></h2>
            </div>
            <br>
            <br>
            <br>
            <div class="aFacturar">
                <h2>A Facturar: <%=ingreso.aFacturarObj%></h2>
            </div>
    </main>
    <%- include("./partials/footer.ejs") %>  
</body>
</html> 