<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs", {titulo: "Pear, sitio de compra y venda de NFT", cssSheet: "index"}) %>
<body>  
    <%- include("./partials/header.ejs") %>
    <main class="mainReport">
        <div class="cuatroCuadros2">
            <h2><%=ingreso.ingresoPorFechaObj%></h2>
            <h2> - <%=ingreso.egresoPorFechaObj%></h2>
            <h2><%=ingreso.netoPorFechaObj%></h2>
            <h2><%=ingreso.aFacturarObj%></h2>
    </main>
    <%- include("./partials/footer.ejs") %>  
</body>
</html> 